@page
@model TheLivery.Pages.DespreModel
@{
}

<div class="section-title d-flex align-items-center">
    <div class="h4 text-light">Despre noi</div>
</div>
<div class="container text-section mt-5">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin venenatis posuere urna, ut pellentesque nisi. Donec sodales ante nec urna sollicitudin, et viverra neque scelerisque. Donec nulla mi, aliquet lacinia mattis et, ullamcorper fermentum magna. Quisque ac turpis eleifend mi pretium aliquet a at augue. Pellentesque ut justo laoreet massa tristique malesuada. Nam et mollis urna, quis commodo nisl. Pellentesque non commodo arcu. Proin sit amet nulla et ex hendrerit malesuada eu nec leo.
    <br/><br />
    Mauris metus augue, rhoncus vel pharetra non, commodo id purus. Fusce consectetur tincidunt erat, a volutpat nisi eleifend in. Proin eget orci quis tellus molestie posuere. Sed gravida neque cursus est rutrum tincidunt. Cras massa justo, suscipit a mi ut, viverra convallis arcu. Curabitur sed vestibulum orci, vitae porttitor sem. Proin sed hendrerit libero. Proin auctor venenatis volutpat. Nulla a faucibus nibh. Ut mattis, risus vel porttitor tristique, mauris arcu elementum est, 
    at aliquet nunc ipsum at lorem. Morbi facilisis sem hendrerit velit auctor, sit amet faucibus turpis facilisis. In eu turpis urna. Vivamus efficitur mi a erat pretium, ac porta leo maximus. Praesent mattis diam dui, at accumsan est ullamcorper eu. Aliquam facilisis a justo a molestie.
</div>
<div class="h2 mt-5 ml-5 text-dark">Brand-uri</div>
<div class="logos mt-5 p-5 d-flex justify-content-around">
    <img src="~/Images/logo1.png" class="img-fluid image-edit"/>
    <img src="~/Images/logo2.png" class="img-fluid image-edit"/>
    <img src="~/Images/logo3.png" class="img-fluid image-edit"/>
    <img src="~/Images/logo4.png" class="img-fluid image-edit"/>
</div>
<div class="h2 mt-5 ml-5 text-dark">Servicii</div>
<div class="servicii-section d-flex justify-content-around mt-5 mb-5 pb-5">
    <div class="container-servicii px-3 py-5 d-flex flex-column justify-content-center align-items-center">
        <ion-icon name="eye-outline" style="font-size:48px"></ion-icon>
        <div class="h6 mt-1 p-3">Urmarirea starii comenzii cu ajutorul awb</div>
    </div>
    <div class="container-servicii px-3 py-5 d-flex flex-column justify-content-center align-items-center">
        <ion-icon name="archive-outline" style="font-size:48px"></ion-icon>
        <div class="h6 mt-1 p-3">Verificarea comenzilor disponibile ca si curier</div>
    </div>
</div>