@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "~/Pages/Shared/_IndexLayout.cshtml";
}

    <div class="text-center">
        <h1 class="display-4 text-light">Venim la tine oriunde ai fi</h1>
        <div class="text-white h6 mb-5">Servicii specializate de si pentru curierat in intreaga tara, dar si international.</div>
        <a href="~/Images/index-image.jpg" class="button-edit text-light">Descarca aplicatia!</a>
    </div>
